@import '../../scss/variables';

.Login{
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    &_darkInput{
        color: white !important;
    }
    &_form{
        display: flex;
        flex-direction: column;
        max-width: 400px;
        padding: 32px;
        letter-spacing: 1px;
        border-radius: 10px;
        box-shadow: 0 4px 16px $almost-white;
        &_title{
            margin-bottom: 70px;
            font-weight: $big-weight;
            font-size: $second-size;
            text-align: center;
        }
        &_button{
            max-width: 120px;
            height: 40px;
            padding: 10px 20px;
            color: $white;
            font-size: 16px;
            letter-spacing: 1px;
            background-color: $button-blue;
            border: none;
            border-radius: 5px;
            outline: none;
        }
        &_group{
            position: relative;
            margin-bottom: 32px;
            font-size: 16px;
            &_error{
                padding-top: 10px;
                color: $red;
            }            
            &_eye{
                position: absolute;
                top: 28%;
                right: 10%;
                width: 20px;
                height: 20px;
            }
            &_err{
                position: absolute;
                top: 70px;
                left: 0;
                color: $red;
            }
            &_input{
                width: 90%;
                padding: 10px;
                font-size: 16px;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid $seventh-grey;
                outline: none;          
            }
            input:focus{
                border-bottom: 1px solid $blue;
            }
            &_label{            
               position: absolute;
               bottom: 45px;
            }
        }
        &_SignUp{
            margin: 20px 0 20px 0;
            line-height: 1.3;
            &_text{
                color: $red;
                font-weight: $big-weight;
            }
        }

    }
}