@import '../../scss/_mixin.scss';
@import '../../scss/_variables.scss';

.container {
  position: absolute;
  z-index: 4;
  display: none;
  width: 200px;
  height: 250px;
  padding-top: 27px;
  transform: translateX(-40%);

  &_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    border: 1px solid $light-border;
    border-radius: 10px;
    box-shadow: 0 3px 6px $shadow;

    &_item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40px;
      cursor: pointer;
      &_link {
        @include manrope-regular();
      }
    }
  }
}