@import '../../scss/variables';

.UserInfo{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    &_darkWrapper{
        background-color: #000000 !important ;
        box-shadow: 0 4px 16px #ccc;
    }
    &_wrapper{
        padding: 80px 80px 150px 80px;
        background-color: white;
        border-radius: 10px;
        &_title{
            padding-bottom: 30px;
            font-weight: $big-weight;
            font-size: $sixth-size;
        }
        &_item{   
            padding-top: 20px;
        }
    }
}

@media screen and (max-width: $mobile) {
    .UserInfo{
        &_wrapper{
            padding: 50px 45px 80px 45px;
           
        }
    }
}