@import '../../scss/variables';

.offers {
    position: relative;

    &__title {
        margin: 55px 0 32px;
        font-size: 28px;
        text-align: center;
    }

    &__sale {
        position: absolute;
        top: -20px;
        left: -30px;
        z-index: 1;

        svg {
            width: 100px;
            height: 100px;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 20px 25px;
    }
}

@media screen and (min-width: $tab-mobileFirst) {
    .offers {
        &__container {
            padding: 20px 35px;
        }

        &__sale {
            top: -50px;
            left: -20px;

            svg {
                width: 150px;
                height: 150px;
            }
        }
    }

    .offers__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px 35px;
    }
}

@media screen and (min-width: 650px) {
    .offers__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 35px;
    }
}

@media screen and (min-width: $desktop-mobileFirst) {
    .offers__sale {
        left: 0;
    }

    .offers__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        max-width: 1200px;
        margin: auto;
        padding: 20px 55px;
    }
}