@import '../../scss/variables';

.win {
    position: absolute;
    top: 0%;
    right: 1%; 
    z-index: 10;
    display: flex;  
     flex-direction: column;
    gap: 10px;
     align-items: center;
    justify-content: center; 
    width: 250px;
        height: 200px;
    padding: 20px;
    color: $black !important;
    background-color: $seventh-grey;
    border-radius: 10px; 
    box-shadow: rgba(0, 0, 0, .25) 1px 54px 55px, rgba(0, 0, 0, .12) 1px -12px 30px, rgba(0, 0, 0, .12) 1px 4px 6px, rgba(0, 0, 0, .17) 1px 12px 13px, rgba(0, 0, 0, .09) 1px -3px 5px;
    &_con{
     display: flex;  
     gap: 10px;
     align-items: center;
    }
    &_image{
        width: 90px;
        height: 90px;
    }
    &_price{ 
        font-weight: bold;
        font-size: 18px;
    }
}